.places-container {
    /* เพิ่ม CSS เพื่อกำหนดการจัดวางเรียงกันในแนวนอน */
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; /* กำหนดระยะห่างระหว่างกรอบ */
  }

  .place {
    /* ... ส่วนที่เหมือนเดิม ... */
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    max-width: 300px; /* ปรับขนาดกรอบให้เหมาะสม */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* เพิ่มเงากรอบ */
  }
  
  .place h3 {
    /* เปลี่ยนสีข้อความใน p_name ตามที่ต้องการ */
    color: #22B3C1; /* สีฟ้าทะเล */
    /* หรือสามารถใช้รหัสสีหรือชื่อสีอื่น ๆ */
  }

  .place-img-box {
    /* ... ส่วนที่เหมือนเดิม ... */
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 5px solid #ccc;
    margin-bottom: 10px;
  }

  .place-img-box img {
    /* ... ส่วนที่เหมือนเดิม ... */
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .place-info {
    /* ... ส่วนที่เหมือนเดิม ... */
    text-align: center;
  }